/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;

 
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.main-navigation {
  clear: both;
  display: flex;
  
  
  a{
    color:white;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: $base__space-unit;
      left: -999rem;
      z-index: 99999;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }
  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

.site-header {
      display: flex;
    height: 40px;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    margin:0 auto;
    position: fixed;
    font-family: Novecento Sans Web;
  
}

.main-navigation{
  margin-right: 5em;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  margin-left: 10em;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.front-logo {
  background-image: url(../../logos/inhabitent-logo-tent-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  margin-top: 5px;
}



.menu-homepage-menu-container li {
  padding: 10px;
  text-transform: uppercase;

  li{
    color:white; 
  }
}

.search-bar{
  .search-field{
    border:none;
  }
  margin-top: .6em;
  form{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
  fieldset{
    margin:0;
    padding:0;
    padding:0 .75rem;
   .fa-search{
     color:$color__background;
     font-size: 15px;
   }
  input{
  transition: all 0.3s ease-in; 
  width:0px;
  color:grey;
  display:inline-block;
 } 
 ::placeholder{
  color: grey;
  text-transform:uppercase;
  font-size:14px;
  font-family:$font__fam-main;
}

  }
}


label{
  float:right;
}
}


.home, .about{
  .search-bar {
    margin-top:.6em;
    form fieldset .fa-search{
color:white;
    }
}
}


.home, .about{
  .search-bar  fieldset {
    ::placeholder{
color:#f0e4d1;
    }
}


}

.active{
  form{
  fieldset{
  input{
  width:200px;
  &:focus{
    outline:none;
  }
  }
  }
  }
  }


  .archive, .single-product, .blog, .single-post,.findus ,.search-results{

    .site-header{
      border-bottom: 1px solid #e1e1e1;
      background-color: hsla(0,0%,100%,.85);
      z-index:10;
    }

  }

  .archive .site-header{
    margin-top:-7px;
  }

  .post-type_archive, .tax-product_type, .single-product, .blog, .single-post, .findus, .search-results, .archive{
    .front-logo{
      background-image: url(../../logos/inhabitent-logo-tent.svg);
    }
    .main-navigation {
      a{
        color:#248A83;
      }

      a:hover{
        color:black;
      }
    }
    
  }

  .home, .about{
    .main-navigation{
      a:hover,.fa-search:hover{
        color:#f0e4d1;
      }
    }
  }