/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front-page */

.front-hero-image {
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url('../../images/home-hero.jpg')no-repeat;
  background-size:cover,cover;
  margin-top: -2em;
  background-position: center, center;
  height: 800px;
  
}
.home{
  display:block;

  .content-area {
     .logo img{
      
  position: absolute;
  right:500px;
  top:200px;
  }
}

.site-header{
  margin-top:40px;
  }
}

  



.site-main {

  .post-info{
    display:flex;
    padding-left: 8em;
    padding-right: 8em;
    
  }
  .post-chunk{
    margin: 10px;
    border:1px solid #e1e1e1;
    margin-bottom: 2em;
  
  }
  .high-line{
    font-size: 11px;
    text-transform: uppercase;
    display:flex;
    padding-top: 5px;
    padding-left: 10px;
  }
  .journal-title{
        text-align: left;
        font-size: 20px;
        color: $color__background;
        text-transform: uppercase;
        font-weight: 600;
        height: 70px;
        font-family: $font__fam-main;
        padding-left: 10px;
    }
  }
 
h2{

  text-transform:uppercase;
  font-family: $font__fam-main;
  font-weight:200px;
  
}
.post-data{

  button{
    border: solid black .5px;
    display: flex;
    margin-left: 10px;
    height: 35px;
}
a{
  color: #000;
  margin-left: -18em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  font-size: 12px;
  width: 100px;
  
}
margin-bottom: 20px;
}
  

.hero-image-header{
  height: 700px;
}

.entry-title {
  color: white;
}

.adventure-but{
  margin-right: 875px;
  margin-bottom: 5em;
  background-color: $color__background;
  height: 45px;
  width: 200px;
  text-transform: uppercase;
  color: #fff;
}

.button-general{
  background-color: $color__background;
  height: 45px;
  width: 200px;
  text-transform: uppercase;
  text-decoration:none;
  padding: 10px;
  font-size: 14px;
  font-family:$font__fam-main;
  color:white;
}
.button-general ::hover{
  
}
 
.latest-adventures{
  display:
  grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 3em;
  margin-bottom: 1em;
  margin-right:3em;
    font-size: 40px;
    color: white;
    text-align: left;

    button{
      background-color: Transparent;
      color:white;
      text-transform:
      uppercase;    
      height: 35px;
      margin-top: 15px;
      display: block;
    }
 
  
  .one{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../images/adventure-photos/canoe-girl.jpg');
    background-size: cover;
    height: 600px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-right:10px solid white;padding-top: 1em;
    padding-left: 1em;
    padding-right: 2em;
    background-color: rgba(0,0,0,.35);
  }

  .two{
    border-left: 10px white solid;
    border-bottom: 20px solid white;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../images/adventure-photos/beach-bonfire.jpg');
    background-size: cover;
    grid-column: 2 / 4;
    grid-row: 1 / 2;padding-top: 1em;
    padding-left: 1em;
    background-color: rgba(0,0,0,.35);
    padding-right: 2em;
  }

  .three{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../images/adventure-photos/mountain-hikers.jpg');
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-left: 10px solid white;
    background-color: rgba(0,0,0,.35);
    border-right: 10px solid white;
    font-size: 25px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 2em;
  }

  .four{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../images/adventure-photos/night-sky.jpg');
    background-size: cover;
    grid-column:3 / 4;
    background-color: rgba(0,0,0,.35);  
    grid-row: 2 / 3;
    border-left: 10px solid white;
    font-size: 25px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 2em;
  }
  div{
    
    height:300px;
    
  }
}

//shop stuff front page
.shop-name{
  display: flex;
  justify-content: center;
  margin: 6em;
  margin-top: 2em;
  margin-bottom: 2em;
  img{
    width:65px;
  }
  .product-chunk{
    border: 1px solid #e1e1e1;
    margin:10px;
    text-align:center;
    padding: 20px;
    border-top: 5px solid #e1e1e1;

    p{
      margin-bottom:0;
      height: 105px;
    }

  }

  .product-chunk:hover{
    border:1px solid #d99054;
    border-top: 5px solid #d99054;
  }
  
  .product-link{
    background-color:#248A83;
    width: 100px;
    height: 35px;
    font-size: 12px;
    text-transform:uppercase;
    
    
    a{
      text-decoration: none;
      color:white;
      
    }
  }
}

//footer css
.site-footer {
  background-image: url('../../logos/inhabitent-logo-text.svg'), url('../../images/dark-wood.png');
  background-repeat: no-repeat, repeat;
  background-size: 250px,auto;
  background-position: 900px 55px;
  color: white;
  height:350px;

  .footer-info {
    display: flex;
    padding-left: 8em;
    padding-top: 2em;
  }

  .business-hours {
    padding-left: 6em;
  }

  .copyright {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 50px;
    margin-bottom:0;
    font-family:$font__fam-main;
    font-weight: 200;
  }

  h2 {
    color: #d99054;
    text-transform: uppercase;
    font-size:18px;
  }
}

//sidebar css

.content-main {
  display: flex;
  .content-area {
    max-width: 70%;
  }
  }
  .widget-area {
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 30%;
    border-left: 1px solid #e1e1e1;
    margin-top: 55px;
    text-align: left;
    padding-left:40px;

    ul{
      list-style-type: none;

    }
    h2{
      font-size: 25px;
      font-weight: 800;
      text-align:left;
      padding-top: 40px;
    }
  }

.widget{
  ul{
    margin-left: 0;
    padding-left: 0;
    }
  }



//** shop stuff


.archive{
  .shop-loop{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   border-top:1px dashed #e1e1e1;
   margin-left:8em;
   margin-right:8em;
   padding-top: 2em;
   padding-bottom: 40px;
  }
  article{
    
    margin:10px;
    border:1px solid #e1e1e1;
  }
  h1{
    font-size:16px;
    display:inline;
    color:black;
    font-weight: 100;
  }

  .shop-info-chunk{
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

  }
  


.shop-push{
  padding-top: 40px;
  margin-top: 7px;
  h2{
    font-weight: 800;
  }
}

.post-type-archive img{
  height: 200px;
}

.archive .type-product .entry-title{
  padding-left:0;
}



.post-type-archive {

.product-chunk{
display:flex;

justify-content: space-around;
    margin-left: 25em;
    margin-right: 25em;
    margin-bottom: 2em;
}
.product-chunk a{
  color:#248A83;
  text-transform:uppercase;
  text-decoration:none;
  font-family: $font__fam-main;
  font-size:18px;
}
}


.tax-product_type{
  .site-main{
    margin-left: 2em;
    margin-right: 2em;
  }
  img{
    height:200px;
  }
}


.tax-product_type .content-area{
  padding-top: 5em;
    
}


.page-title-main{
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  text-transform:uppercase;
  font-family: $font__fam-main;
}
.page-title{
  text-align: center;
}

.type-post{
.entry-header img{
  margin-left: 8.65em;
}
}

.single{
  .entry-header img{
    margin-left:85px;
  }
}
.single-product{
  .entry-meta{
    display:none;
  }
}

.primary-content{
  display:flex;
}

.single-product img{
  margin-left: 10em;
  height: 300px;
  width: 450px;
  margin-top: 4em;
}


.single-product .product-bundle{
  display: flex;
}
.type-product .entry-header{
  display:flex;
}
.product-specific{
  margin-top: 8em;
    margin-left: 2em;

}
.type-product .entry-content{
  margin-right: 10em;
}

.post-type-archive .type-product .entry-title{
  min-width: 500px;
  padding-top: 1em;
  text-align: left;
  padding-left: 0;
  font-weight: 800;
}
.type-product .entry-title{
  min-width: 500px;
  padding-top: 1em;
  text-align: left;
  padding-left: 80px;
  font-weight: 800;

  a{
    text-decoration:none;
    color:#d99054;
  }
}

.pricing{
  font-weight:800;
}

.socials{
  margin-left: 43em;
    padding-bottom: 2em;
    i span{
      text-transform:uppercase;
      font-family: $font__fam-main;
      padding:5px;
    }
}
//**journal page
.blog{

  .single{

    .content-area{
      width:70%;
    }
    .widget-area {
      flex-direction: column-reverse;
      align-items: flex-end;
      width:30%;
      border-left: 1px solid #e1e1e1;
      text-align:left;
      margin-top: 0;
    }
  
    .entry-title{
      position: relative;
      bottom: 436px;
      width: 450px;
      background-color: $color__background;
      height: 100px;
    
      a{
        text-decoration:none;
        color:white;
      }  
    }
    .entry-header{
      height: 550px;
    }
    display:flex;
  }

  .entry-meta{
    position: relative;
    bottom: 214px;
    color: #fff;
    font-size: 14px;
    left: 378px;
    background-color: $color__background;
    width: 400px;
    text-transform: uppercase;
  }

  .entry-title{
    position: relative;
    bottom: 436px;
    width: 450px;
    left: 138px;
    background-color: $color__background;
    height: 100px;

    a{
      color:white;
      font-size:30px;
      text-decoration:none;
    }
    button{
  display: flex;
  margin-left: 135px;
 
  }
  }
  
  .entry-header{
    height: 450px;
  }

  .site-content{
    text-align:center;
  }
  .content-area{
    margin-top: 40px;
  }
  article{
    padding-bottom:3em;
  }

  .site-main{
    margin-top:2em;
  }

  button{
    display: flex;
    margin-left: 135px;
   
  }

  .entry-content p{
    padding-left:0;
  }

  .type-post p{
    margin-left: 9em;
    margin-right: 2em;
    font-size: 15px;
    text-align: left;
  
  }

}

.readmore-button{
  margin-left:12em;
}



.single .entry-meta{
  position: relative;
  bottom: 214px;
  color: #fff;
  font-size: 14px;
  left: 350px;
  background-color: $color__background;
  width: 400px;
  text-transform: uppercase;
}

.single .entry-content{
  font-size:14px;
}
.single .entry-footer{

  font-family: $font__fam-main;
  a{
    text-decoration:none;
    color:$color__background;
  }
  
}

.single-post .entry-header{
  position:relative;
  
}


.single-post {
  .entry-title{
    position: relative;
    bottom: 436px;
    width: 450px;
    background-color: $color__background;
    height: 100px;
    a{
      color:white;
    text-decoration:none;
    }
  }
}
.single-post .product-bundle{
  height: 550px;
  margin-top: 3em;
}

.single-post {
.entry-content{
  margin-right: 10em;
  margin-left: -2em;
}

}

.single-post .comments-area{
 
  margin-right: 8em;
}
.single-post .socials{
  margin-left:0;
  margin-top:10px;
}
.single-post .product-specific{
  margin-top:0;
}



.single-main{
  display:flex;
  

  img{
    width:750px;
  }
}



.single-post .site-content{
  display: flex;
}
.single-post{
  .content-area{
    width: 70%;
    padding-top: 40px;
    margin-right: 40px;
    margin-left: 8em;
  }
}

//** about page


.type-page .entry-header{
  display:none;
  text-transform: uppercase;
  font-family: $font__fam-main;
  font-size: 1.3em;

}

.type-page .hero-image-header{
  margin-top: -2em;
}

.page{
  text-align:center;
  // display:flex;

.hero-image-header{
  height:800px;
}
}

.journalpage .entry-header img{
  margin:0;
}


.about{
.entry-content p{
  padding-right:10em;
  padding-left:10em;
  margin: 0 auto;
  width: 70%;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.site-header{
  margin-top:22px;
}
}

//**find us page
.title-findus{
  padding-top: 50px;
  margin-bottom: 0;
  margin-left: -145px;
    width: 600px;
    
    h2{
      font-weight: 800;
      text-align:left;
      padding-left: 8em;
    }
}
.findus .entry-content{
  padding-left:8em;
  text-align:left;

h2{
  font-weight:800;
  text-align:left;
  font-size:30px;
  
}
}

.wpcf7-form{
  label{
    text-transform:uppercase;
    font-family: $font__fam-main;

  }
}

.contact-sidebar{
  span{
    color:#248A83;
    padding-left:5px;
  }
}

.findusmap{
  height:15em;
  width:800px;
}


.date article{
  border:none;
  margin-bottom: 4em;
}

.findus figure{
  margin-left:4px;

}

.search-results{
  .entry-summary{
    margin-left: 5.5em;
    margin-right: 5em;
    font-size: 15px;
    margin-top: -26px;
  }
 .entry-title a{
  color:$color__background;
}

.search-pagination{
  margin-left: 5em;
  margin-top: 2em;
  margin-bottom:2em;
  color:$color__background;

  a{
    color:$color__background;
    text-decoration: none;
    padding:5px;
  }

}

.site-main{
  margin-top: 4em;
}
}
