/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front-page */

.front-hero-image {
  background-image: url('../../logos/inhabitent-logo-full.svg'),
    url('../../images/home-hero.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: center, center;
  height: 700px;
}

.about-hero-image {
  background-image: url('../../images/about-hero.jpg');
  height: 700px;
}

.site-main {
  .post-info{
    display:flex;
  }
  img {
    width: 25%;
    height: 200px;
  }
}

.hero-image-header {
  height: 700px;
}

.entry-title {
  color: white;
}

//footer css
.site-footer {
  background-image: url('../../images/dark-wood.png');
  color: white;

  .footer-info {
    display: flex;
  }

  .business-hours {
    padding-left: 6em;
  }

  .copyright {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 2em;
  }

  h2 {
    color: #d99054;
    text-transform: uppercase;
  }
}

//sidebar css

.content-main {
  display: flex;
  .content-area {
    max-width: 70%;
  }
  .widget-area {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
